<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shenyuan.superapp.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".preview.BasePreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>

</manifest>